* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
p,
h1,
h2 {
    margin: 0;
    padding: 0;
}
* img {
    display: block;
    height: auto;
    max-width: 100%;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
}
/* navigation */
.menu {
    width: 1110px;
    height: 92px;
    margin: 0 auto;
    font-size: 0;
    position: relative;
}

.logo {
    display: block;
    font-size:30px;
    font-weight: 900;
    line-height: 32px;
    text-transform: uppercase;
    text-decoration: none;
    color: #555252;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.logo:hover {
    color: #1abc9c;
}
.nav {
    list-style: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.nav-item {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 11px;
    margin-right: 32px;
}
.nav-item:last-child {
    margin-right: 0;
}

.nav-item a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #555252;
}
.nav-item a:hover {
    color: #1abc9c;
}

/* slider */
.slider {
    height: 600px;
    margin: 0 auto;
    background-image: url(../img/slider\ bcg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sl-content {
    width: 1110px;
    height: 600px;
    position: relative;
}
* .slider-btn {
    position: absolute;
    display: inline-block;
    width: 106px;
    height: 106px;
    border: none;
    background: transparent;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}
.slider-btn::before {
    content: " ";
    display: block;
    width: 22px;
    height: 22px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    top: 0;
    bottom: 0;
    margin: auto;
}
.slider-btn:hover {
    background-color:#1abc9c;
    opacity: 0.6;
}
.prev-btn {
    left: 0;
}
.prev-btn::before {
    transform: rotate(45deg);
}
.next-btn {
    right: 0;
}
.next-btn::before {
    transform: rotate(225deg);
}
.slides {
    margin: 0;
    padding: 0;
    list-style: none;
}
.slides img {
    height: 600px;
    width: 100%;
    object-fit: cover;
}
.content-pr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
.slides-name {
    margin: 0;
    display: inline;
    padding-bottom: 10px;
    font-size: 60px;
    font-weight: 900;
    line-height: 82px;
    text-transform: uppercase;
    color: white;
    white-space: nowrap;
}
.slides-services {
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    line-height: 54px;
    text-transform: uppercase;
    color: white;
}
/* Product section */
.collection {
    margin: 0 auto;
    padding-top: 92px;
    background-color: #e9f0fd;
    padding-bottom: 100px;
}
.title {
    margin: 0;
    padding: 0;
    font-size: 48px;
    font-weight: 900;
    line-height: 32px;
    text-transform: uppercase;
    color: #515151;
    text-align: center;
    margin-bottom: 104px;
}
.title::after {
    display: block;
    content: " ";
    width: 163px;
    height: 8px;
    background-color: #1abc9c;
    margin: 0 auto;
    margin-top: 40px;
}
.products {
    width: 1110px;
    margin: 0 auto;
}

.collection ul {
    list-style: none;
    font-size: 0;
    padding: 0;
}
.products li {
    display: inline-block;
}
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}
.product-item {
    width: 255px;
    height: 322px;
    margin-right: 30px;
    position: relative;
    float: left;
}
.product-item:last-child {
    margin-right: 0;
}
.product-photo {
    height: 322px;
    width: 100%;
    object-fit: cover;
}
.overlayer {
    width: 235px;
    height: 262px;
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}
.product-item:hover .overlayer{
    display: block;
    background-color: rgba(0, 0, 0, 0.55)
}
.icons {
    width: 166px;
    height: 106px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon-link {
    width: 50px;
    height: 50px;
    border: none;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 0;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
}
.btn-like {
    background-image: url(../img/BUTTON\ like.png);
    background-position: center;
    background-repeat: no-repeat;
}
.btn-arrow {
    background-image: url(../img/BUTTON\ arrow.png);
    background-position: center;
    background-repeat: no-repeat;
}
.btn-clock {
    background-image: url(../img/BUTTON\ time.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 0; 
}
.btn-cart {
    background-image: url(../img/BUTTON\ cart.png);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    width: 166px;
    background-color: #323232;

}
.icon-link:hover {
    background-color: #1abc9c;
    opacity: 1;
}

.name,
.price {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 40px;
    padding: 0;
    position: absolute;
    bottom: 0;
    text-decoration: none;
    padding-left: 13px;
}
.name {
    background-color: #323232;
    width: 200px;
    height: 40px;
    left: 0;
}
.product-item:hover .name {
    background-color: #1abc9c;
}
.price {
    background-color: #8c8c8c;
    width: 55px;
    height: 40px;
    right: 0;
}
.product-item:hover .price {
    background-color: #7fd9c7;
}
footer {
    height: 88px;
    background-color: #323232;
    margin: 0 auto;
}
.footer-info {
    height: 88px;
    position: relative;
}
.footer-content {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #ffffff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.design-link {
    text-decoration: none;
    color: #ffffff;
}
.design-link:hover {
    color: #409989;
}