.page-footer {
    height: 62px;
    margin: 0 auto;
    &__container {
        border-top: 1px solid #e5e5e5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        padding-top: 12px;
    }
    &__text {
        width: 100%;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: $black-color;
    }
    &__link {
        color: $black-color;
        display: inline;
        &:hover {
            color: $yellow-color;
        }
    }
    &__wrapper {
        display: flex;
        width: 380px;
        height: 40px;
        align-items: center ;
        justify-content: space-between;
    }
    &__button-subscribe {
        width: 150px;
        font-size: 14px;
        line-height: 40px;
        font-weight: 700;
        color: $main-color;
        text-transform: uppercase;
        background-color: #95e1d3;
    }
    &__form-field {
        width: 230px;
        border: 1px solid #e5e5e5;
        line-height: 36px;
        padding-left: 15px;
        font-family: $second-font-stack;
        font-size: 300;
        font-style: italic;
        color: #cccccc;
    }

}
