$main-font-stack: 'Montserrat';
$second-font-stack: 'Roboto';
$script-font-stack: 'Kaushan Script';
$main-color:  #ffffff;
$black-color: #414141;
$grey-color: #999999;
$hover-color: #fce38a;
$yellow-color: #f38181;