body {
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
}

.wrapper {
    width: 900px;
    margin: 0 auto;

}

.page-header {
    background-color: transparent;
    margin: 0;
    padding-top: 68px;
    padding-bottom: 95px;
   
}

/* navigation */
.navigation {
    font-size: 0;
    list-style: none;
    padding: 0;
    text-align: center;
}

.navigation li {
    box-sizing: border-box;
    display: inline-block;
    margin-right: 120px;
    font-size: 14px;
}

.navigation li:last-child {
    margin: 0;
}

.navigation a {
    font-weight: 400;
    color: #626262;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 24px; 
}

a:hover,
a:focus {
    color: #57c6f8;
}

/* content */
.article {
    font-size: 0px;
    margin: 0;
    padding: 0;
}
.article li {
    list-style: none;
    display: inline-block;
    margin-right: 60px;
}
.article-item:nth-child(2n) {
    margin-right: 0;
}
.article-item {
    width: 420px;
    margin-bottom: 60px;
}

.article-item:nth-last-child(-n+2) {
    margin-bottom: 0;
}

.article-item-name {
    color: #b4ad9e;
    line-height: 17px;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0, 8px;
}

h2 {
    line-height: 36px;
    font-size: 30px;
    margin: 0, 48px;
}
.article-item-text {
    font-size: 16px;
    margin: 0, 132 px;
}

button {
    width: 160px;
    height: 60px;
    background-color: #fff;
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    border: 1px solid;
    display: block;
    margin: 0 auto;
}

button:hover,
button:focus {
    color: #57c6f8;
}

section {
    padding-bottom: 70px;
}